# importing necessary libraries

In [40]:
# import data modules
import pandas as pd 
import numpy as np
import yaml

#statistical modules
from statsmodels.stats.contingency_tables import mcnemar

In [41]:
%%writefile comfig.yaml
#csvfiles
gum_bleeding_after: gum bleeding_2.csv
gum_bleeding_before: gum_bleeding_1.csv

Overwriting comfig.yaml

# Loading and reading data

In [42]:
# opening,loading and reading csv files
path = "comfig.yaml"
with open (path, 'r') as stream:
    mm_config = yaml.safe_load(stream)
print(mm_config)
gum_bleeding_before = mm_config["gum_bleeding_before"]
gum_bleeding_after = mm_config["gum_bleeding_after"]

gum_bleeding_before= pd.read_csv(gum_bleeding_before)
gum_bleeding_after= pd.read_csv(gum_bleeding_after)
df_gum_bleeding_before = gum_bleeding_before.copy()
df_gum_bleeding_after= gum_bleeding_after.copy()

{'gum_bleeding_after': 'gum bleeding_2.csv', 'gum_bleeding_before': 'gum_bleeding_1.csv'}

In [43]:
# gum bleeding before

df_gum_bleeding_before.head()

,Weeks,participant 1,participant 2,participant 3,participant 4,participant 5
0,22/01/2024,No,No,Yes,No,No
1,23/01/2024,Yes,No,Yes,No,No
2,24/01/2024,Yes,No,No,No,No
3,25/01/2024,Yes,No,No,Yes,No
4,26/01/2024,No,Yes,No,No,No

In [44]:
df_gum_bleeding_after.head()

,Weeks,participant 1,participant 2,participant 3,participant 4,participant 5
0,19/02/2024,No,No,No,No,No
1,20/02/2024,No,No,No,No,No
2,21/02/2024,No,No,No,No,No
3,22/02/2024,No,No,No,No,No
4,23/02/2024,No,No,No,No,No

## Before

In [45]:
# grouping the responses

No_responses = []
Yes_responses = []

for participants in df_gum_bleeding_before.columns[1:]:
    No = df_gum_bleeding_before[participants][[x=='No' for x in df_gum_bleeding_before[participants]]]
    Yes = df_gum_bleeding_before[participants][[x=='Yes' for x in df_gum_bleeding_before[participants]]]
    No_responses.append(No)
    Yes_responses.append(Yes)

In [46]:
flattened_no_responseb4 = [item for sublist in No_responses for item in sublist]
flattened_yes_responseb4 = [item for sublist in Yes_responses for item in sublist]

## After

In [47]:
# grouping the responses

No_responses = []
Yes_responses = []

for participants in df_gum_bleeding_after.columns[1:]:
    No = df_gum_bleeding_after[participants][[x=='No' for x in df_gum_bleeding_after[participants]]]
    Yes = df_gum_bleeding_after[participants][[x=='Yes' for x in df_gum_bleeding_after[participants]]]
    No_responses.append(No)
    Yes_responses.append(Yes)

flattened_no_responseafter = [item for sublist in No_responses for item in sublist]
flattened_yes_responseafter = [item for sublist in Yes_responses for item in sublist]

In [48]:
df_dict = {
    'Yes':[len(flattened_yes_responseb4),len(flattened_yes_responseafter)],
    'No': [len(flattened_no_responseb4),len(flattened_no_responseafter)]
}

In [49]:
df_dict

{'Yes': [21, 9], 'No': [59, 131]}

In [50]:
df = pd.DataFrame(df_dict, index=["Before_mouthwash","After_mouthwash"])

df

                  Yes   No
Before_mouthwash   21   59
After_mouthwash     9  131

In [51]:
from statsmodels.stats.contingency_tables import mcnemar

stat_data = [[21,59],[9,131]]

print(mcnemar(stat_data, exact= False))

print(mcnemar(stat_data, exact= False, correction= False))

pvalue      2.81354493977637e-09
statistic   35.30882352941177
pvalue      1.3328142940540713e-09
statistic   36.76470588235294